In [1]:
import numpy as np
import pandas as pd
from unidecode import unidecode

In [2]:
a = pd.read_csv('GWP 3.csv')
b = pd.read_csv('CLAIM 3.csv')
G3 = a.copy()
C3 = b.copy()

C:\Users\hello\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (22,24,25,26,27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
G3.head(1)

,DVI_QL,DEPARTMENT,POLICY_TYPE,POLICY_ID,CUSTOMER_ID,KIEU_KT,MA_KT,KIEU_GT,MA_GT,MA_DINHMUC,...,PREMIUM,COMMISSION,PHI_TA,HHONG_TAI,DISTRIBUTION_CHANEL,SUM_INSURED,CNTTYPE,CUSTOMER_TYPE,POLICY_YEAR,PROVINCE
0,9,PBT,G,OT+068084,00167PBT09,D,004DN09,N,,A21,...,"35,545,455","3,554,546",0,0,DAI LY,1.000000e+09,VSC,CTYTNHH,#VALUE!,Khac

In [4]:
G3.columns

Index(['DVI_QL', 'DEPARTMENT', 'POLICY_TYPE', 'POLICY_ID', 'CUSTOMER_ID',
       'KIEU_KT', 'MA_KT', 'KIEU_GT', 'MA_GT', 'MA_DINHMUC', 'CERTIFICATE',
       'INPUT_DATE', 'START_DATE', 'END_DATE', 'TYPE_CAR', 'GROUP_CAR', 'USE',
       'CAPACITY', 'NB_SEATS', 'CAR_MAKER', 'CAR_MODEL', 'REG_NUMBER',
       'MANUFACTURE_YEAR', 'LH_NV', 'PREMIUM', 'COMMISSION', 'PHI_TA',
       'HHONG_TAI', 'DISTRIBUTION_CHANEL', 'SUM_INSURED', 'CNTTYPE',
       'CUSTOMER_TYPE', 'POLICY_YEAR', 'PROVINCE'],
      dtype='object')

In [5]:
raw_G3 = G3[['CERTIFICATE','REG_NUMBER','START_DATE','END_DATE','MANUFACTURE_YEAR','USE','CAPACITY','NB_SEATS','CAR_MAKER','CAR_MODEL','SUM_INSURED','PROVINCE']]

In [6]:
raw_G3['START_DATE']= pd.to_datetime(raw_G3['START_DATE'])
raw_G3['END_DATE']= pd.to_datetime(raw_G3['END_DATE'])

<ipython-input-6-b96b150617c7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_G3['START_DATE']= pd.to_datetime(raw_G3['START_DATE'])
<ipython-input-6-b96b150617c7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_G3['END_DATE']= pd.to_datetime(raw_G3['END_DATE'])

In [7]:
raw_G3[['START_DATE']].head(50)

   START_DATE
0  2015-04-27
1  2015-04-25
2  2015-05-19
3  2015-05-10
4  2015-01-12
5  2015-10-27
6  2015-10-22
7  2015-12-15
8  2016-01-15
9  2016-01-29
10 2016-02-03
11 2016-04-29
12 2016-05-24
13 2016-08-07
14 2016-07-18
15 2016-06-08
16 2016-08-29
17 2016-06-26
18 2016-10-29
19 2016-12-16
20 2017-11-01
21 2017-02-24
22 2014-04-22
23 2017-03-15
24 2016-05-24
25 2016-12-19
26 2017-02-27
27 2016-12-25
28 2016-05-13
29 2014-08-10
30 2016-03-15
31 2015-01-25
32 2015-05-22
33 2016-03-06
34 2016-07-30
35 2017-01-19
36 2015-11-07
37 2014-03-19
38 2016-07-29
39 2017-01-22
40 2015-12-05
41 2017-11-07
42 2015-08-12
43 2017-03-21
44 2014-06-24
45 2017-10-02
46 2016-12-23
47 2016-10-19
48 2017-01-01
49 2017-07-06

In [8]:
raw_G3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100454 entries, 0 to 100453
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   CERTIFICATE       100454 non-null  object
 1   REG_NUMBER        100425 non-null  object
 2   START_DATE        100454 non-null  datetime64[ns]
 3   END_DATE          100454 non-null  datetime64[ns]
 4   MANUFACTURE_YEAR  100454 non-null  object
 5   USE               100454 non-null  object
 6   CAPACITY          100454 non-null  int64
 7   NB_SEATS          100454 non-null  int64
 8   CAR_MAKER         100454 non-null  object
 9   CAR_MODEL         100453 non-null  object
 10  SUM_INSURED       100452 non-null  float64
 11  PROVINCE          100454 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(2), object(7)
memory usage: 9.2+ MB

In [9]:
C3.head(1)

,DVI_QL,DEPARTMENT,POLICY_TYPE,POLICY_ID,CUSTOMER_ID,KIEU_KT,MA_KT,KIEU_GT,MA_GT,MA_DINHMUC,...,INPUT_CLAIM_DATE,OCCUR_DATE,ANOU_DATE,PAY_DATE,NOTE,PAID_CLAIM,INCUR_CLAIM,DISTRIBUTION_CHANEL,SUM_INSURED,CLAIM_TYPE
0,2,NaN,G,351/14/HD-1131/02-PCR,00411PCR02,D,001PCR02,N,,A21,...,16-07-14,15-07-14,16-07-14,20140826.0,NaN,600000,0,DAI LY,"400,000,000",NaN

In [10]:
C3.columns

Index(['DVI_QL', 'DEPARTMENT', 'POLICY_TYPE', 'POLICY_ID', 'CUSTOMER_ID',
       'KIEU_KT', 'MA_KT', 'KIEU_GT', 'MA_GT', 'MA_DINHMUC', 'CERTIFICATE',
       'INPUT_DATE', 'START_DATE', 'END_DATE', 'TYPE_CAR', 'GROUP_CAR', 'USE',
       'CAPACITY', 'NB_SEATS', 'CAR_MAKER', 'CAR_MODEL', 'REG_NUMBER',
       'MANUFACTURE_YEAR', 'LH_NV', 'CLAIM_ID', 'INPUT_CLAIM_DATE',
       'OCCUR_DATE', 'ANOU_DATE', 'PAY_DATE', 'NOTE', 'PAID_CLAIM',
       'INCUR_CLAIM', 'DISTRIBUTION_CHANEL', 'SUM_INSURED', 'CLAIM_TYPE'],
      dtype='object')

In [11]:
raw_C3 = C3[['OCCUR_DATE','CERTIFICATE','PAID_CLAIM']]

In [12]:
raw_C3['OCCUR_DATE']= pd.to_datetime(raw_C3['OCCUR_DATE'])

<ipython-input-12-1dfec1082f76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_C3['OCCUR_DATE']= pd.to_datetime(raw_C3['OCCUR_DATE'])

In [13]:
raw_C3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59787 entries, 0 to 59786
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OCCUR_DATE   59784 non-null  datetime64[ns]
 1   CERTIFICATE  59775 non-null  object
 2   PAID_CLAIM   59787 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 1.4+ MB

In [26]:
raw_C3['START_DATE'] = pd.to_datetime(raw_C3['START_DATE'],format='%Y%m%d')

KeyError: 'START_DATE'

In [14]:
raw_G3

,CERTIFICATE,REG_NUMBER,START_DATE,END_DATE,MANUFACTURE_YEAR,USE,CAPACITY,NB_SEATS,CAR_MAKER,CAR_MODEL,SUM_INSURED,PROVINCE
0,OT+068084,15C-139.25,2015-04-27,2017-04-27,"2,010",C,3500000,0,KH?C,KH?C,1.000000e+09,Khac
1,OT+57206,92A 01729,2015-04-25,2016-04-25,"2,013",K,3500000,5,KH?C,KH?C,6.000000e+08,Khac
2,OT+56964,92C-033.79,2015-05-19,2016-05-19,"2,013",C,3500000,3,KH?C,KH?C,3.000000e+08,Khac
3,OT+109886,90A-032.03,2015-05-10,2016-05-10,"2,008",K,330000,5,HYUNDAI,GETZ,3.000000e+08,Khac
4,OT+0048532,53M6206,2015-01-12,2016-01-12,"2,006",C,133000,23,KHAC,KHAC,2.000000e+08,TPHCM
...,...,...,...,...,...,...,...,...,...,...,...,...
100449,XH+7151,51C-28893,2016-06-24,2017-06-24,2013,K,0,3,KHAC,KHAC,4.000000e+08,TPHCM
100450,OT+169365,51A-56735,2016-01-24,2017-01-24,2008,K,0,10,KH�C,KH�C,5.000000e+08,TPHCM
100451,OT+0007937,56N-4638,2015-01-14,2016-01-14,2009,K,0,5,TOYOTA,YARIS,4.000000e+08,TPHCM
100452,OT+0037177,,2015-01-30,2016-01-30,2014,C,0,5,HYUNDAI,I10,3.450000e+08,TPHCM
100453,OT+119156,,2015-10-25,2015-04-11,2015,C,0,0,KH�C,KH�C,9.000000e+08,Khac

In [15]:
raw_G3.dropna(inplace = True)
raw_C3.dropna(inplace = True)

<ipython-input-15-674abfbcc370>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_G3.dropna(inplace = True)
<ipython-input-15-674abfbcc370>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_C3.dropna(inplace = True)

In [16]:
raw_G3['CERTIFICATE'].value_counts()

DBH           71
DBH+210273     6
DBH+210272     6
DBH+210274     6
DBH+210271     6
              ..
XH+0250153     1
OT+0010919     1
XH+0059286     1
OT+69879       1
XH+198923      1
Name: CERTIFICATE, Length: 100117, dtype: int64

In [17]:
sum(raw_C3['PAID_CLAIM'] >0.0)

51619

In [18]:
raw_C3['PAID_CLAIM'].sum()

330661037382

In [19]:
Insur_3 = pd.merge (raw_G3,raw_C3,how ='left',on=['CERTIFICATE'])

In [20]:
sum(Insur_3['PAID_CLAIM']>0)

52522

In [21]:
raw_C3.

SyntaxError: invalid syntax (<ipython-input-21-b7592fcf89a0>, line 1)

In [ ]:
Insur_3

In [ ]:
Insur_3['PAID_CLAIM'].fillna(0,inplace=True)

In [ ]:
Insur_3.info()

In [ ]:
Insur_3.to_excel('Insur_3.xlsx',index=False, engine='xlsxwriter')